/* fonts config */

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype"),
    url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype"),
    url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

/* slider styles */
.worm-indicator {
  display: flex;
  justify-content: center;
}

.worm-dot {
  border-radius: 20px;
  background-color: #ccbafe;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.worm-dot.active {
  background-color: #9974fc;
  width: 66px;
}

.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.transition-all {
  transition: all 0.5s ease-in-out;
}
