@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .clip-triangle {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}





body,*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}


.gradient-text {
  background: linear-gradient(to bottom, #0FDAFE, #C654FB); /* Gradient colors */
  -webkit-background-clip: text;
  color: transparent; /* Text becomes transparent to reveal the gradient */
}

